<div class="container container-header mt-5 text-center">
    <h2>Brands</h2>
</div>

<div id="brand-container" class="container mt-5">
    <div class="row gx-5">
        <div class="col-4 col-xl-2 p-3">
            <div class="card brand-card ratio ratio-4x3">
                <img src="/main/banner/brand/puma.jpg" class="card-img-top">
            </div>
        </div>
        <div class="col-4 col-xl-2 p-3">
            <div class="card brand-card ratio ratio-4x3">
                <img src="/main/banner/brand/diesel_denim.png" class="card-img-top">
            </div>
        </div>
        <div class="col-4 col-xl-2 p-3">
            <div class="card brand-card ratio ratio-4x3">
                <img src="/main/banner/brand/adidas.png" class="card-img-top">
            </div>
        </div>
        <div class="col-4 col-xl-2 p-3">
            <div class="card brand-card ratio ratio-4x3">
                <img src="/main/banner/brand/tom_tailor.png" class="card-img-top">
            </div>
        </div>
        <div class="col-4 col-xl-2 p-3">
            <div class="card brand-card ratio ratio-4x3">
                <img src="/main/banner/brand/calvin_klein.png" class="card-img-top">
            </div>
        </div>
        <div class="col-4 col-xl-2 p-3">
            <div class="card brand-card ratio ratio-4x3">
                <img src="/main/banner/brand/tommy_hilfiger.png" class="card-img-top">
            </div>
        </div>
    </div>
</div>
