<div class="container-xxl container-header mt-5 text-center">
    <h2>Most popular categories</h2>
</div>
<div id="card-category-container" class="container-xxl mt-5">
    <div class="row">
        <div class="col-6 p-3">
            <div class="card card-category">
                <img src="/main/banner/popular_categories/jeans.jpg" class="card-img">
                <div class="card-category-overlay-title card-img-overlay text-center">
                    <h2 class="card-title">Jeans</h2>
                </div>
            </div>
        </div>
        <div class="col-6 p-3">
            <div class="card card-category">
                <img src="/main/banner/popular_categories/t-shirts.jpg" class="card-img">
                <div class="card-category-overlay-title card-img-overlay text-center">
                    <h2 class="card-title">T-shirts</h2>
                </div>
            </div>
        </div>
        <div class="col-6 p-3">
            <div class="card card-category">
                <img src="/main/banner/popular_categories/shoes.jpg" class="card-img">
                <div class="card-category-overlay-title card-img-overlay text-center">
                    <h2 class="card-title">Shoes</h2>
                </div>
            </div>
        </div>
        <div class="col-6 p-3">
            <div class="card card-category">
                <img src="/main/banner/popular_categories/hats.jpg" class="card-img">
                <div class="card-category-overlay-title card-img-overlay text-center">
                    <h2 class="card-title">Caps</h2>
                </div>
            </div>
        </div>
    </div>
</div>
