<div class="container-xxl mt-5">
    <div id="welcome-slider-container" class="row">
        <div class="col">
            <div id="welcome-slider" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                    <div class="carousel-item ratio ratio-21x9 active">
                        <img src="/main/slider/welcome/1.jpg">
                        <div class="carousel-caption">
                            <h2>Welcome!</h2>
                            <p>Online store of clothes, shoes and accessories</p>
                        </div>
                    </div>
                    <div class="carousel-item ratio ratio-21x9">
                        <img src="/main/slider/welcome/2.jpg">
                        <div class="carousel-caption">
                            <h2>Nice place!</h2>
                            <p>You can buy shoes here</p>
                        </div>
                    </div>
                    <div class="carousel-item ratio ratio-21x9">
                        <img src="/main/slider/welcome/3.jpg">
                        <div class="carousel-caption">
                            <h2>Have a good day!</h2>
                            <p>Our store outside view</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#welcome-slider" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#welcome-slider" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#welcome-slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#welcome-slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#welcome-slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            </div>
        </div>
    </div>
</div>
