<footer>
    <nav>
        <div class="container-xxl mt-5">
            <div class="row gx-5">
                {# collapsed menu #}
                <div class="col d-md-none p-3">
                    <div id="footerMenu" class="accordion">
                        {# buyers #}
                        <div class="accordion-item">
                            <h2 id="footerMenuHeadingOne" class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#footerMenuItemOne" aria-expanded="true" aria-controls="footerMenuItemOne">
                                    Buyers
                                </button>
                            </h2>
                            <div id="footerMenuItemOne" class="accordion-collapse collapse" aria-labelledby="footerMenuHeadingOne" data-bs-parent="#footerMenu">
                                <div class="accordion-body">
                                    <ul>
                                        <li>
                                            <a href="#">How to make an order</a>
                                        </li>
                                        <li>
                                            <a href="#">Payment Methods</a>
                                        </li>
                                        <li>
                                            <a href="#">Delivery</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {# company #}
                        <div class="accordion-item">
                            <h2 id="footerMenuHeadingTwo" class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#footerMenuItemTwo" aria-expanded="false" aria-controls="footerMenuItemTwo">
                                    Company
                                </button>
                            </h2>
                            <div id="footerMenuItemTwo" class="accordion-collapse collapse" aria-labelledby="footerMenuHeadingTwo" data-bs-parent="#footerMenu">
                                <div class="accordion-body">
                                    <ul>
                                        <li>
                                            <a href="#">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Requisites</a>
                                        </li>
                                        <li>
                                            <a href="#">Contacts</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {# social networks #}
                        <div class="accordion-item">
                            <h2 id="footerMenuHeadingThree" class="accordion-header" >
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#footerMenuItemThree" aria-expanded="false" aria-controls="footerMenuItemThree">
                                    Social networks
                                </button>
                            </h2>
                            <div id="footerMenuItemThree" class="accordion-collapse collapse" aria-labelledby="footerMenuHeadingThree" data-bs-parent="#footerMenu">
                                <div class="accordion-body">
                                    <ul>
                                        <li>
                                            <a href="#">Vk</a>
                                        </li>
                                        <li>
                                            <a href="#">YouTube</a>
                                        </li>
                                        <li>
                                            <a href="#">Telegram</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# expanded menu #}
                {# buyers #}
                <div class="footer-menu col d-none d-md-block p-5">
                    <h3>Buyers</h3>
                    <ul>
                        <li>
                            <a href="#">How to make an order</a>
                        </li>
                        <li>
                            <a href="#">Payment Methods</a>
                        </li>
                        <li>
                            <a href="#">Delivery</a>
                        </li>
                    </ul>
                </div>
                {# company #}
                <div class="footer-menu col d-none d-md-block p-5">
                    <h3>Company</h3>
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Requisites</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </div>
                {# social networks #}
                <div class="footer-menu col d-none d-md-block p-5">
                    <h3>Social networks</h3>
                    <ul>
                        <li>
                            <a href="#">Vk</a>
                        </li>
                        <li>
                            <a href="#">YouTube</a>
                        </li>
                        <li>
                            <a href="#">Telegram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="attribution">
        <div class="container">
            <div class="row">
                <div class="col pt-3 pb-3 text-center">
                    <div>2004-2022 © shop.com - online store of clothes, shoes and accessories.</div>
                    <div>All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
